#container{
    display:flex; 
    flex-direction:row;
    justify-content:center; 
    gap:40px;
    background-color: antiquewhite;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    flex-wrap:wrap; 
    flex-shrink: inherit;
    flex-direction:row;
    cursor: pointer;
} 

#container:hover{
    color:aquamarine;
}

img{
    height:200px;
    width:200px;
    margin-top:10px;
    padding:5px;
}

